#navbar .logo {
  float: none;
  text-align: center;
}

#navbar ul, #navbar li {
  float: none;
}

#navbar li a {
  padding: 5px;
  border-bottom: #444 1px solid;
}

#navbar li:last-child a{
  border-bottom: none;
}

/* Showcase */
#showcase {
  height: 100%;
}

.showcase-content {
  padding: 70px 10px 30px;
}

/* Home Info */
#home-info {
  height: 500px;
}

.info-img {
  display: none;
}

.info-content {
  float:none;
  width: 100%;
}

/* Features */
.box {
  float: none;
  width: 100%;
}

.info-right, .info-left {
  float: none;
  width: 100%;
} 

.info-right {
  margin-top: 30px;
}

.l-heading {
  text-align: center;
}

/* Contacts */
#contact-info .box {
  border-bottom: #444 dotted 1px;
}

#contact-info .box:last-child {
  border-bottom: none;
}